/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19.08.2020, 15:28:46
    Author     : Andrei Oleniuc
*/

AnchorPane{
    -fx-background-color: linear-gradient(to right,#2e2e2e,#000000);
}
.JFXButton{
    -fx-background-color: #20d3ea;
}

JFXTextField{
    -fx-text-fill: white;
}


.costum-jfx-radio-button .radio{
    -fx-stroke-width: 2px;
    -fx-fill:transparent;
}

.costum-jfx-radio-button-blue{
    -jfx-selected-color: #00ddff;
    -jfx-unselected-color: white;
}
