/*
//////////////////////////////////////////////////////////////
// Authoren: Andrei, David, Niels
// Name: DasBesteAbschreibungsprogrammÜberhaupt
// Erstellungs Datum: 19.08.20
// Letzte Änderung: 16.09.20
// Version: 1.0.0
// Beschreibung: Dieses Programm dient der Berrechnung der Abschreibungen.
//               Dabei wird zwischen linearen und degressiven Abschreibungen unterschieden. 
//               Ausserdem kann entschieden werden ob es direkt oder indirekt abgeschrieben werden soll.
//////////////////////////////////////////////////////////////
*/
/* 
    Created on : 19.08.2020, 15:28:46
    Author     : Andrei Oleniuc
*/

AnchorPane{
    -fx-background-color: linear-gradient(to right,#9CECFB,#65C7F7,#0052D4);
}
.JFXButton{
    -fx-background-color: #dadedf;
}

JFXTextField{
    -fx-text-fill: #4F4C4C;
}


.costum-jfx-radio-button .radio{
    -fx-stroke-width: 2px;
    -fx-fill:transparent;
}

.costum-jfx-radio-button-blue{
    -jfx-selected-color: #060505;
    -jfx-unselected-color: #000000;
}
