/*
//////////////////////////////////////////////////////////////
// Authoren: Andrei, David, Niels
// Name: DasBesteAbschreibungsprogrammÜberhaupt
// Erstellungs Datum: 19.08.20
// Letzte Änderung: 16.09.20
// Version: 1.0.0
// Beschreibung: Dieses Programm dient der Berrechnung der Abschreibungen.
//               Dabei wird zwischen linearen und degressiven Abschreibungen unterschieden. 
//               Ausserdem kann entschieden werden ob es direkt oder indirekt abgeschrieben werden soll.
//////////////////////////////////////////////////////////////
*/
/* 
    Created on : 16.07.2020, 20:46:23
    Author     : Andrei Oleniuc
*/


.column-header,
.column-header-background .filler {
    -fx-background-color:  #ffffff; 
}

.table-view{
    -fx-background-color: #ffffff;
}
.table-view .column-header .label{
    -fx-text-fill: #4f8dd7;
    -fx-font-weight: bold; 
    -fx-font-size:25px; 
    -fx-alignment: CENTER_LEFT;

}
.table-view .cell{
    -fx-cell-size: 35;
    -fx-alignment: center-left;
    -fx-background-color: whitesmoke;
    -fx-border-color: white;
    -fx-text-fill: black;
    -fx-font-size:20px; 
    -fx-alignment: CENTER_LEFT;

}
.table-row-cell:selected {
    -fx-background-color: grey; 
    -fx-text-background-color:  #6622CC;


}

/* scroll bar starts here */

/* The increment and decrement button CSS class of scrollbar */
.table-view .increment-button ,.table-view .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 2em;

}

/* The main scrollbar **track** CSS class  */
.table-view .scroll-bar:horizontal .track,
.table-view .scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color:derive( #dadedf,80%);

    -fx-background-radius: 2em;
    -fx-border-radius:2em;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.table-view .scroll-bar:horizontal .thumb,
.table-view .scroll-bar:vertical .thumb {
    -fx-background-color:derive( #dadedf,90%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;

}